/*
* @Author: Chris
* @Date:   2017-12-13 17:57:42
* @Last Modified by:   Chris
* @Last Modified time: 2017-12-14 17:33:47
*/
$white: white;
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption,
em
{
	padding: 0;
	margin: 0;
	list-style: none;
	font-style: normal;
	text-decoration: none;
	border: none;
	color: #333;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	outline: none;
	font-size: 12px;
	&:hover {
		outline: none;
	}
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
	border-radius: 10px;
	background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
	-webkit-appearance: none;
}

body {
	font-size: 12px;
	height: 100%;
}
.bodyContain{
	position: relative;
}
.content{
	margin: 0.9rem 0 0.85rem 0;
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
	overflow: hidden;
}
.f18{
	font-size: 18px;
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.clearfix {
	zoom: 1;
}

.disFlexR {
	display: flex;
	flex-direction: row;
}

.disFlexC {
	display: flex;
	flex-direction: column;
}
.leftArr {
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	border: none;
	border-top: 2px solid $white;
	border-right: 2px solid $white;
	transform-origin: 50% 50%;
	transform: rotate(-135deg);
}
.rightArr {
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	border: none;
	border-top: 2px solid #717477;
	border-right: 2px solid #717477;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
}

.upArr {
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	border: none;
	border-top: 2px solid #717477;
	border-left: 2px solid #717477;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
}

.downArr {
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	border: none;
	border-bottom: 2px solid #717477;
	border-right: 2px solid #717477;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
}

.content{
	min-height: 100%;
	height: auto !important;
	padding-bottom: 0.01rem !important;
}
.bodyContain:after{
	content: '';
	display: block;
	height: 0.01rem;
	margin-top: -0.01rem;
}

body{
	background-color:#f0f2f5;
}
.content > div{
	background-color:white;
}

// 弹框
.popupMask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  .popup {
    position: absolute;
    z-index: 6;
    width: 5rem;
    height: 3.1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 0.2rem;
    overflow: hidden;
    .title {
      width: 100%;
      text-align: center;
      height: 0.5rem;
      line-height: 0.5rem;
      color: white;
      background-color: cornflowerblue;
    }
    .popupBody {
      height: 1.8rem;
      text-align: center;
      line-height: 2rem;
      span {
        display: inline-block;
        min-height: 0.3rem;
        max-height: 2rem;
        line-height: 0.3rem;
        width: 3rem;
        word-wrap: break-word;
        overflow: hidden;
      }
    }
    .oper {
      border-top: 0.01rem solid #e5e5e5;
      span {
        display: inline-block;
        width: 50%;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        &:first-child {
          border-right: 0.01rem solid #e5e5e5;
        }
      }
    }
  }
}